/*CSS File made from research on google and the guys at Odin*/




/*Header  navigation bar*/


.navheader{
  height: 50px;
  margin-bottom: 8px;
}
.navheader .navright{
  width: 2%;
	height: 100%;
	display: inline-block;
	float: right;
	position: relative;
  min-width: 50px;

}
.navright a{
	color: #000;
	opacity: .75;
	text-decoration: none;
	margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: arial,sans-serif;
  font-size: 13px;
}
/*main search container */
.gsearch{

}
/*Search form*/

.searchbar input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;

}
.cont{
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    min-width: 980px;
}
#logo{

}

#body{
  display: block;
}

/*Just buttons*/
.formbtns {
  margin-top: 10px;
  padding: 10px;
}

.formbtns input {
  padding: 10px 15px;
  margin-left: 3px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  color: #757575;
}

/*Footer stuff goes here*/

.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  height: 40px;
}

.Footerleft{
  height: 100%;
	width: 50%;
	position: relative;
  float: left;
}
.Footerright{
  height: 100%;
	width: 50%;
	position: relative;
  float: right;
}
.bottoml{
  width: 5%;
  height: 100%;
  display: inline-block;
  float: left;
  position: relative;
  min-width: 50px;
  padding-left: 30px;
}
.bottoml a{
  color: #757575;
	opacity: .75;
	text-decoration: none;
	margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: arial,sans-serif;
  font-size: 13px;
}
.bottomr{
  width: 5%;
	height: 100%;
	display: inline-block;
	float: right;
	position: relative;
	min-width: 50px;
  padding-right: 30px;
}
.bottomr a{
  color: #757575;
	opacity: .75;
	text-decoration: none;
	margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  font-family: arial,sans-serif;
  font-size: 13px;
}
