




/*Header  navigation bar*/

.navright{
  text-align: right;
	font-size: 13px;
	height: 50px;
  font-family: Arial, sans-serif;
  margin-right: 30px;
}

.navright li a {
  display: inline-block;
	width: 50px;
	padding: 3px;
#	text-align: center;
  vertical-align: middle;
  color: #000;
  text-decoration: none;
}

/*main search container */
.main{

}
#Fixedheader{
  position:fixed;
	top:10px;
	width:100%;
  padding:20px;
}

#Signin{

}

#searchcont{
  vertical-align: middle;
}

#searchform{

}


#formbtns{


}
#FixedFooter{
  display: block;
	line-height: 40px;
	background: #f2f2f2;
	height: 40px;
	position: absolute;
	width: 100%;
	border-top: 1px solid #e4e4e4;
	right: 0px;
  bottom: 0px;
}

/*Footer stuff goes here*/

.Footerleft{
  text-align: left;
	display: inline-block;
	float: left;
  margin-left: 3px;

}
.Footerleft li a {
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, sans-serif;
  color:#000;
  font-size: 12px

}

.Footerright li a {
  text-decoration: none;
  color:#000;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, sans-serif;
  font-size: 12px

}

.Footerright{
  text-align: right;
	display: inline-block;
	float: right;
  margin-right: 30px;
  font-family: Arial, sans-serif;

}
